/* App.css */
.App {
  text-align: center;
}
.form-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(3, 3, 3, 0.1);
  border-radius: 8px;
  background-color: #ffffffc9;
}

/* Style for each form step */
.form-step {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Style for buttons (Next, Previous) */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:50px;
}

.button:hover {
  background-color: #0056b3;
}

/* Style for form input fields */
.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  
  
}

/* Style for the form header */
.form-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

label{
  font-size: 20px;
  font-style: oblique;
  margin-right: 5px;
  line-height: 1.8;
  padding-bottom: 15px;
}

button{
  margin-left: 10px;
  
}
select{
  line-height: 1.8;
  
}
.labelDiv{
  padding: 8px 8px 8px 8px;
}
body{
  background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
}
h1{
  color: rgb(88, 255, 219);
  text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
}
.form-container:hover{
  box-shadow:1px 1px 1px #000, 3px 3px 5px rgb(95, 93, 93); ;
} 
button:hover{
  box-shadow:1px 1px 1px #000, 3px 3px 5px rgb(95, 93, 93); ;
}
/* Additional styles based on your specific needs */
/* Add your own custom styles here */
